/* Adjust the background color with a linear gradient */
body {
    background-image: linear-gradient(to bottom, darksalmon, rgb(154, 181, 215));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 55.75em;
    width: auto;
}

/* modify the container div with a static width of 1024px and center it*/
.container {
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
}

/* --------------------------------- */
/* CSS for the Header, Logo, and NAV */
/* --------------------------------- */

/* The header box will need to display the content side by side using flexbox and justify content ... Hint: flex, center the items, 
    and add some space from the outside edges */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #B8336A;
}

/* adjust the size of the logo image (150 - 225 px) */
.logoIcon img {
    width: 150px;
}

/* Style the look of the buttons (color, border, padding etc.), display, and their position  */
.navButton {
    border: 2px solid white;
    padding: 12px 25px;
    display: inline-block;
    width: 120px;
    text-align: center;
    position: relative;
}

/* Remove the hypertext look from the anchor element, change the font, and font color */
.navButton a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

/* Style (position, border, shadow) and hide the drop down box */
.dropDown {
    display: none;
    position: absolute;
    margin-left: -27px;
    margin-top: 10px;
    box-shadow: 5px 5px 10px black;
    background-color: white;
    color: #B8336A;
    z-index: 1;
}

/* This will override the previous class selector during hover to display the dropdown. */
.navButton:hover .dropDown {
    display: block;
}

/* Change the background color of the dropdown menu and possibly remove the border  */
.dropDown .navButton {
    background-color: white;
}

/* style the color of the anchor elements inside the drop down*/
.dropDown .navButton a {
    color: #B8336A;
}


/* Bonus add a hover effect to the dropdown menu with a color change of the background */
.dropDown .navButton:hover {
    background-color: rgb(233, 233, 233);
}

/* --------------------------------------- */
/* CSS for the Main Section of the Website */
/* ---------------------------------------- */

/* Create a min-height of 300, add flex, and align everything to the center */
main {
    min-height: 300px;
    display: flex;
    align-content: center;
    margin-top: 2rem;
}

main.bookOnline {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}


/* Add a flex ratio of 2 and some padding */
.heroBox1 {
    flex-grow: 2;
    padding: 1rem
}

/* Add a flex ratio of 1  */
.heroBox2 {
    flex-grow: 1;
}

/* Stretch the image to 100% of the div and add a drop-shawdow filter */
.heroBox2 img {
    width: 100%;
    filter: drop-shadow(10px 5px 5px rgb(50, 50, 50));
    /* <!-- "wocintech (microsoft) 62" by wocintechchat.com is licensed under CC BY-SA 2.0--> */
}

/* Modify the font size, font family, padding and add a text shadow */
h1 {
    font-size: 36px;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 40px;
    text-shadow: 1px 1px black;
}



/* Modify the font size, font family, top margin */
h2 {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0.75rem
}





/* modify the line-height and padding on the bottom */
main p {
    line-height: 1.5rem;
    padding-bottom: 2rem;
    text-shadow: 1px 1px 1px #c0558281;
    /*(194,166,169)*/
    color: rgb(45, 45, 45);
}

.myButton {
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1.5px solid black;
    border-radius: 14px;
    padding: .5rem .75rem;
}

.myButton:hover {
    background-color: rgba(172, 172, 172, 0.75);
}

/* ---------------------------------------- */
/* CSS for the Cards Section of the Website */
/* ---------------------------------------- */
/* Set the cards section to flex, justify the content, and align to center */
.cards {

    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 2rem;
}

/* Add a background image from the images folder with citation comment, set the background size to cover the space, adjust the background position (bottom), set a min height of 250px, set a width of 30%, set a border radius, and add a box-shadow */
.card1 {
    background-image: url(images/800px-Books-business-computer-connection-459654.jpg);
    /* "Business-computer-connection" Officialaliandassociates, CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0> via Wikimedia Commons */
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    border-radius: 16px;
    box-shadow: 5px 5px 10px black;
}

/* Add a background image from the images folder with citation commment, set the background size to cover the space, ajust the background position (bottom), set a min height of 250px, set a width of 30%, set a border radius, and add a box-shadow */
.card2 {
    background-image: url(images/motherboard.jpeg);
    /* "Motherboard" by xxjcaxx is licesnsed under CC BY-NC-SA 2.0 */
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    border-radius: 16px;
    box-shadow: 5px 5px 10px black;
}

/* Add a background image from the images folder with citation comment, set the background size to cover the space, adjust the background position (bottom), set a min height of 250px, set a width of 30%, set a border radius, and add a box-shadow */
.card3 {
    background-image: url(images/iphone.jpeg);
    /* "iPhone 8 Plus Bokeh" by Photos By Dlee is licensed under CC BY-NC-ND 2.0 */
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    border-radius: 16px;
    box-shadow: 5px 5px 10px black;
}

/* Change the font size using rem, change the line height, adjust the margin, and change the font family */
.cards p {
    color: rgb(225, 225, 225);
    text-shadow: grey;
    font-size: 1rem;
    line-height: 1rem;
    margin: 1rem 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Add padding to the top of the icon (0.75 rem), adjust the font size to 100px (or equivalent rem), change the color to something light (ex. rgb(236, 216, 207) )  */
.cards i {
    padding-top: 0.75rem;
    font-size: 100px;
    color: lightgray;
}

/* remove the underline from the hyperlink, change the color to something light or even just white, add text shadow */
.cards a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px black;
}



/* ----------------------------------------------- */
/* CSS for the Testimonials Section of the Website */
/* ----------------------------------------------- */
/* For the testimonials / review section, add flex to the display, dustify the content so it is spaced out, use flex-wrap and set it to "wrap", add some margin to the top and bottom */
.testimonials {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2.5rem;
    margin-bottom: 2.25rem;
}

/* For each individual box, add a light-colored boarder, include some padding, make each one the width of 40% to 45%, add a margin to the bottom of each box to create spacing between the rows  */
.tBox {
    border: 2px solid white;
    width: 40%;
    margin-bottom: 1.5rem;
    color: white;
    padding: 1rem 1rem;
    background-color: rgba(92, 92, 92, 0.05);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.397);
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
}

/* ----------------------------------------- */
/* CSS for the Footer Section of the Website */
/* ----------------------------------------- */
/* For the footer, add a background color that is transparent, change the color of the font to something light, add a max width that matches the container's width, add margin to the right and left to center the content... consider also adding some margin to the top. */
footer {
    background-color: rgba(78, 78, 78, 0.3);
    color: white;
    max-width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    margin-bottom: .5rem;
}


.addressinput {
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 2rem;
}

p.ad {
    text-shadow: none;
    max-width: 65ch;
}

h3 {
    font-size: 30px;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 7%;
    text-shadow: 1px 1px black;
}


p.bo {
    text-shadow: none;
    padding-left: 15%;
    padding-right: 15%;
}

.onlineService {}

.partsDelivery {}

.requestServices {}